block content
    |   <script type="text/javascript">
    |     healcode_widget_id = "ce88831703";
    |     healcode_widget_name = "registrations";
    |     healcode_widget_type = "mb";
    |     document.write(unescape("%3Cscript src='https://www.healcode.com/javascripts/hc_widget.js' type='text/javascript'%3E%3C/script%3E"));
    |     // Healcode Registration Widget for Wayward & Co. Explorers : Registration
    |   </script>
    |   <noscript>
    |   Please enable Javascript in order to get <a href="https://www.healcode.com" target="_blank">HealCode</a> functionality
    |   </noscript>


extends ../layout