//- div.fixed
//-     nav.top-bar(data-topbar='', role='navigation')

//-         ul.title-area
//-             li.name
//-                 h1
//-                     a.absolute-center-parent(href="/")
//-                         img.menu-logo.absolute-center(src="/img/logo_nav_antlers.svg", height="35", width="35")

//-             li.toggle-topbar.menu-icon
//-                 a(href="#")
//-                     span

//-         section.top-bar-section

//-             //- Right Nav Section
//-             ul.right

//-                 li(class=(page == 'shop' ? 'active' : ''))
//-                     a(href='/shop-clothing') Lifestyle &amp; Clothing

//-                 li(class=(page == 'studio' ? 'active' : ''))
//-                     a(href='/hot-yoga-studio') Hot Yoga Studio

//-                 li(class=(page == 'view-schedule' ? 'active' : ''))
//-                     a(href='/view-schedule') View Schedule

//-                 li(class=(page == 'sign-up' ? 'active' : ''))
//-                     a(href='/sign-up-for-classes') Sign Up For Classes



//-             //- Left Nav Section
//-             ul.left

//-                 li
