extends layout

block content

    div(class="container text-center")

        div(class="right main-side main-right")
            div(class="bg bg-studio")
                a(href="/studio" class="main-link studio-link absolute-center-parent")
                    span(class="absolute-center") Studio
            div(class="logo-details")